.note {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 15px;
    color: white;
    background-color: #1f1f1f;
}

.note-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.note-middle {
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
    padding: 0 5px;
    border-radius: 5px;
}

.note-top p {
    color: gray;
}

.note-top h2 {
    margin: 0;
    margin-left: 10px;

}

.note-bottom {
    color: gray;
    display: flex;
    justify-content: end;
}

.note-top img {
    width: 25px;
}


@media screen and (min-width: 800px) {
    .note {
        margin: 15px;
        border: solid white 1px;
        border-radius: 25px;
    }
    .note-bottom p {
        margin: 0;
    }
}

@media screen and (max-width: 800px) {
    .note {
        border-bottom:  gray solid 1px;
    }
    .note:last-child {
        border-top: gray solid 1px;
        border-bottom: none;
    }
    .note-bottom p {
        margin-top: 15px;
        margin-bottom: 0;
    }
    
}